@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root{
    --celadon-blue: #0d78aa;
    --bubbles: #e3faff;
    --night-rider: #343434;
    --black: #191b17;
    --white: #fff;
    --transition: all 0.5s ease-in-out;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    scroll-behavior: smooth;
    line-height: 1.7;
    font-family: 'Hind Siliguri', sans-serif;
}
ul{
    list-style-type: none;
}
button{
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    padding: 1rem;
    cursor: pointer;
    outline: 0;
    background: transparent;
}
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: unset;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.section-p{
    padding: 10rem 0;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.flex-c{
    justify-content: center;
}
.flex-sb{
    justify-content: space-between;
}
.grid{
    display: grid;
    align-items: center;
}
.text{
    line-height: 1.7;
    font-weight: 500;
    opacity: 0.9;
    font-size: 1.6rem;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-bubbles{
    color: var(--bubbles);
}
.text-black{
    color: var(--black);
}
.text-celadon-blue{
    color: var(--celadon-blue);
}
.text-night-rider{
    color: var(--night-rider);
}
.text-white{
    color: var(--white);
}

.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

/* backgrounds */
.bg-transparent{
    background-color: transparent;
}
.bg-white{
    background-color: var(--white);
}
.bg-black{
    background-color: var(--black);
}
.bg-bubbles{
    background-color: var(--bubbles);
}
.bg-night-rider{
    background-color: var(--night-rider);
}
.bg-celadon-blue{
    background-color: var(--celadon-blue);
}

/* letter spacing */
.ls-2{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

.mx-auto{
    margin-right: auto;
    margin-left: auto;
}

/* font size */
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}
.fs-24{font-size: 24px;}

/* opacity */
.op-09{opacity: 0.9;}
.op-08{opacity: 0.8;}
.op-07{opacity: 0.7;}
.op-06{opacity: 0.6;}
.op-05{opacity: 0.5;}

/* button */
.btn-item{
    color: var(--white);
    border: 3.5px solid #fff;
    border-radius: 2rem;
    transition: var(--transition);
}
.btn-groups .btn-item:first-child{
    margin-right: 2.6rem;
}
.btn-groups .btn-item:hover{
    background-color: transparent;
    border-color: var(--celadon-blue)!important;
}

/* animation and transition stopper */
.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}

/* section title */
.section-title{
    text-align: center;
    margin-bottom: 3.8rem;
}
.section-title h3{
    font-size: 2.6rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

@media screen and (min-width: 768px){
    .section-title h3{
        font-size: 3.6rem;
    }
}

.App{
    overflow-x: hidden;
}